.dropbtn {
  color: white;
  padding: 16px;
  border: 1px solid #f8f9fa;
}
.dropbtn.main img {
  width: 50px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(253, 121, 26, 0.3);
  z-index: 10000;
}

.dropdown-content .btn {
  color: #fd791a;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f8f9fa;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn  {
  background-color: #bdbdbe26;
  border: 1px solid #fd791a;
}
.btn-style {
  color: #fd791a;
  font-size: 18px;
}

.btn-style:hover {
  border-bottom: 1px solid #fd791a;
  animation: brillo 0.8s ease-in-out infinite alternate;
  color: #fd791a;
}

@keyframes brillo {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fd791a,
      0 0 70px #fd791a, 0 0 80px #fd791a, 0 0 100px #fd791a, 0 0 150px #fd791a;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fd791a,
      0 0 35px #fd791a, 0 0 40px #fd791a, 0 0 50px #fd791a, 0 0 75px #fd791a;
  }
}

.mainheader-cart {
  border: 1px solid #f8f9fa;
  padding: 16px;
}
.mainheader-cart img {
  width: 50px;
}
.mainheader-cart:hover {
  background-color: #bdbdbe26;
  border: 1px solid #fd791a;
}

.mainheader-logo {
  height: 125px;
  font-size: 3rem;

  -webkit-animation: bounce 3s infinite ease-in-out;
  -o-animation: bounce 3s infinite ease-in-out;
  -ms-animation: bounce 3s infinite ease-in-out;
  -moz-animation: bounce 3s infinite ease-in-out;
  animation: bounce 3s infinite ease-in-out;
}
.mainheader-logo img {
  height: 90px;
  width: 100%;
  margin-top: 3rem;
}

@-webkit-keyframes bounce {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-5px);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-5px);
  }
}

.header p {
  font-family: "Cabin Sketch", cursive;
  font-size: 4rem;
  color: #fd791a;
  font-weight: bold;
  margin-top: 1rem;
}
.header p:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@media (min-width: 768px) {
  .mainheader-logo {
    height: 200px;

    -webkit-animation: bounce 3s infinite ease-in-out;
    -o-animation: bounce 3s infinite ease-in-out;
    -ms-animation: bounce 3s infinite ease-in-out;
    -moz-animation: bounce 3s infinite ease-in-out;
    animation: bounce 3s infinite ease-in-out;
  }
  .mainheader-logo img {
    height: 200px;
    width: 100%;
    margin-top: -1rem;
  }
  .header p {
    font-size: 5rem;
  }
}
