.style-img-items{
  height: 250px;
  width: 250px;

}
.card-style{
  height: 100%;
  max-height: 100%;
}
.box-Cart{
    height: 3.5rem;
    overflow: hidden;
  }
  
.slide-top{
  -webkit-animation: slide-top 0.5s 0.2s both;
          animation: slide-top 0.5s 0.2s both;

}
  

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
  
.slide-in-bottom {
	-webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
	        animation: slide-in-bottom 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

  