.banner-servicios {
  outline: 5px dashed #fff;
  outline-offset: -13px;
}
.container-servicios {
  min-height: 25vh;

  background-color: #fd791a;
  color: #fff;
  padding: 0;
  margin: 0;
}

.banner-servicios h1 {
  font-size: 3rem;
  font-family: "Cabin Sketch", cursive;
  font-weight: bold;
  height: 11rem;
  padding-top: 2.2rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

@media (min-width: 768px) {
  .banner-servicios h1 {
    font-size: 5rem;
  }
}

.positionserv a {
  text-decoration: none;
  color: khaki;
}
.positionserv {
  position: absolute;
  z-index: 1;
}

.ourservices p {
  font-size: 1.5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  text-align: justify;
}
@media (max-width: 768px) {
  .ourservices p {
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
  }
}

.ourservices span {
  font-weight: bold;
  color: #fd791a;
}

.containerserv {
  position: relative;
  width: 30%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle1 {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  margin-top: 170px;
  margin-left: 170px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.containerserv:hover .image {
  opacity: 0.3;
}

.containerserv:hover .middle1 {
  opacity: 1;
}
.text {
  background-color: #fd791a;
  color: white;
  font-size: 2rem;
  padding: 8px 16px;
}

@media only screen and (max-width: 600px) {
  .containerserv .middle1 {
    opacity: 1;
  }
  .middle1 {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    margin-top: 70px;
    margin-left: 70px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .text {
    background-color: #fd791a;
    color: white;
    font-size: 1rem;
    padding: 4px 8px;
  }
}

@media only screen and (max-width: 820px) and (min-width: 621px) {
  .containerserv .middle1 {
    opacity: 1;
  }
  .middle1 {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    margin-top: 100px;
    margin-left: 100px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .text {
    background-color: #fd791a;
    color: white;
    font-size: 1.2rem;
    padding: 4px 8px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 821px) {
  .middle1 {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    margin-top: 170px;
    margin-left: 170px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .containerserv:hover .image {
    opacity: 0.3;
  }

  .containerserv:hover .middle1 {
    opacity: 1;
  }
  .text {
    background-color: #fd791a;
    color: white;
    font-size: 2rem;
    padding: 8px 16px;
  }
}

.overhiden {
  overflow: hidden;
}