.common-navbar {
  margin: 0px;
  margin-top: 2rem;
}
.common-navbar-logo img {
  width: 74px;
  padding: 9px 9px 9px;
}
.common-header-icons img {
  width: 40px;
}
@media (max-width: 768px) {
  .common-navbar {
    margin-top: 65px;
  }
  .dropdown-login {
    color: #17a2b8;
  }
}
.linksnav {
  padding-top: 11px;
}