.container-card {
  background: #f7f7f1;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.container {
  min-height: 60vh;
}

.discount-label {
  z-index: 99;
  padding: 8px;
  position: absolute;
  float: left;
  margin-top: 35px;
  margin-left: 80%;
  width: fit-content;
  -webkit-border-radius: 0 4px 0 4px;
  -moz-border-radius: 0 4px 0 4px;
  border-radius: 0 4px 4px 0;
}

.discount-label:after {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-color: rgba(136, 183, 213, 0);
  border-width: 20px;
  top: 50%;
  margin-top: -20px;
}

.discount-label:before {
  content: "";
  z-index: 999;
  position: absolute;
  top: 42%;
  right: 100%;
  width: 7px;
  height: 7px;
  opacity: 0.95;
  background: #ffffff;
  border-radius: 7px;
  -webkit-box-shadow: inset 0.5px 0 rgba(0, 0, 0, 0.6);
  box-shadow: inset 0.5px 0 rgba(0, 0, 0, 0.6);
}

.discount-label span {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  font-family: "Raleway", Helvetica;
}

.red {
  background-color: #e80707;
}

.red:after {
  border-right-color: #e80707;
}

.blue {
  background-color: #1883db;
}

.blue:after {
  border-right-color: #1883db;
}

.green {
  background-color: #16b516;
}

.green:after {
  border-right-color: #16b516;
}

.yellow {
  background-color: #feaa00;
}

.yellow:after {
  border-right-color: #feaa00;
}

.gray {
  background-color: #737373;
}

.gray:after {
  border-right-color: #737373;
}

.black {
  background-color: #000;
}

.style-img-items {
  transition: transform 0.7s;
}

.style-img-items:hover {
  transform: scale(1.2);
}

.style-price-span {
  color: goldenrod;
  font-size: 1rem;
}

.box-price {
  background: rgb(255, 255, 255);
  padding: 5px 10px;
  border-radius: 8px;
  box-shadow: 4px 1px 2px rgba(0, 0, 0, 0.4);
}

.card-style {
  overflow: hidden;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.box-Cart {
  height: 2.5rem;
  overflow: hidden;
}

.slide-top {
  -webkit-animation: slide-top 0.5s 0.2s both;
  animation: slide-top 0.5s 0.2s both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(-80px);
    transform: translateY(-80px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(-80px);
    transform: translateY(-80px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
.main-publi {
  padding: 0px;
  width: 190px;
}
.main-publi h2 {
  font-family: "Fredoka One", cursive;
  color: red;
  font-weight: bold;
  text-align: center;
  border-style: dashed;
  margin-bottom: 0px;
}


  
.slide-in-bottom {
	-webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
	        animation: slide-in-bottom 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}