body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*{font-family: 'Quicksand', sans-serif;}

/* estilo de boton de turnos y contacto  */
.sharedbtn {
  display: inline-block;
  border-radius: 4px;
  background-color: #FEAA00 ;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.sharedbtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.sharedbtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.sharedbtn:hover span {
  padding-right: 25px;
  color: #FFFFFF;
}

.sharedbtn:hover span:after {
  opacity: 1;
  right: 0;
}

.btn-primary {
  margin-top: 4px;
  background-color: #fc1c6a !important;
  border-color: #fc1c6a !important;
}

.btn-primary:hover {
  color: white !important;
  opacity: 0.8;
}